<launch>

    <node name="rviz" pkg="rviz" type="rviz" />
    
    <node name="republish_ptcl" pkg="velodyne_pointcloud" type="cloud_node" 
          args="_calibration:=$(find velodyne_pointcloud)/params/VLP16db.yaml" />

    <node name="detector" pkg="detector" type="detector" output="screen" launch-prefix="">

            <rosparam file="$(find detector)/cfg/detector_config.yaml" />

    </node>

    <node name="rosbag" pkg="rosbag" type="play" args="--loop --rate=1 $(find detector)/bags/mapping.bag" output="screen"/>

</launch>