<launch>

    <!--Launch husky-->

    <!--bricks tasks-->
    <node name="brickStateMachine" type="brickStateMachine" pkg="mbzirc_husky" respawn="true" output="screen"/>
    
    <node name="brickExplore" type="brickExplore" pkg="mbzirc_husky" respawn="true" output="screen"/>

    <node name="brickPickup" type="brickPickup" pkg="mbzirc_husky" respawn="true" output="screen"/>

    <node name="brickRearrange" type="brickRearrange" pkg="mbzirc_husky" respawn="true" output="screen"/>
    <node name="brickStack" type="brickStack" pkg="mbzirc_husky" respawn="true" output="screen"/>

    
</launch>
