<launch>

	<!--bricks tasks-->
	<node name="brickStateMachine" type="brickStateMachine" pkg="mbzirc_husky" respawn="true" output="screen"/>
	
	<!--Not run: the action servers-->
	<!--<node name="brickExplore" type="brickExplore" pkg="mbzirc_husky" respawn="true" output="screen"/>
	<node name="brickPickup" type="brickPickup" pkg="mbzirc_husky" respawn="true" output="screen"/>
	<node name="brickRearrange" type="brickRearrange" pkg="mbzirc_husky" respawn="true" output="screen"/>
	<node name="brickStack" type="brickStack" pkg="mbzirc_husky" respawn="true" output="screen"/>-->

	<!--Additional services-->
	<node pkg="mbzirc_husky" name="inventory" type="brickInventory.py" output="screen" />

    
</launch>
