<launch>

  <node pkg="mbzirc_husky" type="symbolicMap" name="symbolicMap" respawn="false" output="screen">
    <param name="/path_file" value="$(find mbzirc_husky)/maps/lab/map-waypoints.txt"/>
    <param name="/corner_file" value="$(find mbzirc_husky)/maps/lab/map-corners.txt"/>

  </node>

</launch>
