<launch>


  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <param name="robot_description" command="$(find xacro)/xacro '$(find husky_description)/urdf/husky.urdf.xacro'
    robot_namespace:=''
    urdf_extras:='$(find mbzirc_husky)/simulation/husky_config/husky_custom_description/urdf/husky.urdf.xacro'
  "/>

  <!--gazebo-->
  <node name="spawn_husky_model" pkg="gazebo_ros" type="spawn_model" args="-x -10 -y -10 -z 0 -Y 10 -unpause -urdf -param robot_description -model 'husky'" />
  
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen" args="--verbose -e ode $(find mbzirc_husky)/worlds/mbzirc_fire.world" />
  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>

  <!--rviz-->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mbzirc_husky)/cfg/husky.rviz"/>

</launch>
